<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name=".MyFirebase"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PropeApp"
        tools:targetApi="31" >
        <activity
            android:name=".EstudianteActivity"
            android:exported="false" />
        <activity
            android:name=".SeleccionarGrupoActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarQRAlumActivity"
            android:exported="false" />
        <activity
            android:name=".MostrarGrupoActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".InfoAlumActivity"
            android:exported="false" />
        <activity
            android:name=".EscanearQRActivity"
            android:exported="false" />
        <activity
            android:name=".EditarAlumActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarAlumActivity"
            android:exported="false" />
        <activity
            android:name=".AgregarAlumActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPersActivity"
            android:exported="false" />
        <activity
            android:name=".BienvenidaActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>